<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="vision">
  <xacro:include filename="material.urdf.xacro"/>
  <xacro:include filename="sensor.urdf.xacro"/>
  <xacro:include filename="base.urdf.xacro"/>
  <xacro:include filename="arm.urdf.xacro"/>
  <xacro:include filename="hand.urdf.xacro"/>
</robot>
